*{
    margin:0;
    padding: 0;
    color: #4a4a4a;
}

body{
    width: 1024px;
    margin:auto;
    margin-bottom: 104 px;
}

hr{
    margin: 24px 0;
    color: #b5b5b5;
}

h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    
}

h4,h5,h6,p{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 80px;
    letter-spacing: -3;
    line-height: 80px;
}

h3{
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

h4{
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
h5{
   font-size: 16px;
   line-height: 1.5; 
   text-transform: uppercase;
}

p{
    font-size: 20px;
    margin-bottom: 12px;
}


/* Section Globals
#################*/

section{
    margin-top: 40px;
}


.section_title{
    max-width: 87px;
}

.section_data{
    margin-left: 260px;
}

/* Main Data
#################*/
.main_data{
    margin-top: 270px;
    margin-bottom: 104px;
}
.site_name{
    max-width: 375px;
}

h5.site_details{
    text-transform: none;
    padding-top: 16px;
  
}

.site_details{
    max-width: 375px;
}

.main_data span{
    color: #797979;
}


/* About Section
#################*/

.about{
display: flex;
}


/* Technical Skills
#################*/
.technical_skills{
    display: flex;
}

/* personal_details
#################*/
.personal_details{
    display: flex;
}

/* websites_profiles
#################*/
.websites_profiles{
    display: flex;
}

/* experience
#################*/
.experience{
    display: flex;
}
 /* Education 
 ##################*/
 .education{
     display: flex;
 }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        margin:0 24px;
    }

} 

/* Medium devices (landscape tablets, 1024px and down) */
@media only screen and (max-width: 1024px) {
    body{
        margin:0 24px;
    }
} 
 